<!DOCTYPE html>
{% autoescape true %}
<html>
  <head>
	<title>TaxiDiManaSG</title>
	<style>
		#maptwo {
        width: 600px;
        height: 450px;
     }
		#mapthree {
        width: 600px;
        height: 450px;
     }
	</style>
  </head>
  <body>
	<!--
	<a href="#" id="get_location">Get location</a>
	<div id="map">
		<iframe id="google_map" width="600" height="450" 
		frameborder="0" src="https://maps.google.com.sg?q=singapore&output=embed"></iframe>
	</div>
	
	<script>
	var c = function(pos) {
		var lat    = pos.coords.latitude,
			long   = pos.coords.longitude,
			coords = lat + ',' + long;
			
		document.getElementById('google_map').setAttribute('src', 'https://maps.google.com.sg/?q=' + coords + '&z=14&output=embed');
	}
	
	document.getElementById('get_location').onclick = function() {
		navigator.geolocation.getCurrentPosition(c);
		return false;
	}
	</script>
	-->

	
	<h1>Available Taxi Locations</h1>
	<div id="mapthree"></div>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?callback=initMapThree">
    </script>
	
	<script>
	var image = 'https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png';
	var mapthree;
	var lati_longi = "{{ lati_longi|safe }}";
	function initMapThree() {
		navigator.geolocation.getCurrentPosition(success);
		function success(pos) {
		var currentLatLng = new google.maps.LatLng(pos.coords.latitude, pos.coords.longitude);
			mapthree = new google.maps.Map(document.getElementById('mapthree'), {
				center: currentLatLng,
				zoom: 15
			});
			var current_marker = new google.maps.Marker({
			position: currentLatLng,
			map: mapthree,
			
			});
			current_marker.setMap(mapthree);
		{% for value in lati_longi %}
			var marker = new google.maps.Marker({
				position: new google.maps.LatLng("{{ value.Latitude }}", "{{ value.Longitude }}"),
				mapthree: mapthree,
				icon: image
			});
			marker.setMap(mapthree);
		{% endfor %}
		}
	}
	</script>
	
	<div id="list">
		{% block bodycontent %}
		<h1>Available Taxi Locations</h1>
		<p>
		<table>
			<tr>
				<th>Latitude</th>
				<th>Longitude</th>
			</tr>
			{% for value in lati_longi %}
			<tr>
				<td>{{ value.Latitude }}</td>
				<td>{{ value.Longitude }}</td>
			</tr>
			{% endfor %}
		</table>
		{% endblock %}
	</div>
	
  </body>
</html>
{% endautoescape %}